<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="commons/common :: header"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}"/>
    <style type="text/css">
        .mm li{width:158px;}
        .mm li>a{padding-left: 8px; text-align: left; width: 100%; line-height: 26px;}
        .mm li>a:hover{padding-left: 8px; line-height: 26px; outline: none; border-radius: 0;}
        #container ul,a{height: 26px !important; vertical-align: top;}
        #container a.tabs-close{margin-top: -12px !important;}
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:48px;padding:10px">上方</div>
    <div data-options="region:'south',border:false" style="line-height:30px;overflow: hidden;">上方</div>
    <div data-options="region:'west', title:'导航菜单'" style="width:160px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="权限管理" style="overflow:auto;" data-options="iconCls:'icon-add'">
                <ul class="mm">
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加用户','https://www.baidu.com')">添加用户</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑用户','https://www.baidu.com')">编辑用户</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加角色','https://www.baidu.com')">添加角色</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑角色','https://www.baidu.com')">编辑角色</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加权限','https://www.baidu.com')">添加权限</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑角色权限','https://www.baidu.com')">编辑角色权限</a></li>
                </ul>
            </div>
            <div title="日志管理" style="overflow:auto;" data-options="iconCls:'icon-add'">
                <ul class="mm">
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加用户','https://www.baidu.com')">添加用户</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑用户','https://www.baidu.com')">编辑用户</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加角色','https://www.baidu.com')">添加角色</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑角色','https://www.baidu.com')">编辑角色</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加权限','https://www.baidu.com')">添加权限</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑角色权限','https://www.baidu.com')">编辑角色权限</a></li>
                </ul>
            </div>
            <div title="销售管理" style="overflow:auto;" data-options="iconCls:'icon-add'">
                <ul class="mm">
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加用户','https://www.baidu.com')">添加用户</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑用户','https://www.baidu.com')">编辑用户</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加角色','https://www.baidu.com')">添加角色</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑角色','https://www.baidu.com')">编辑角色</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('添加权限','https://www.baidu.com')">添加权限</a></li>
                    <li><a class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true" href="#" onclick="addTab('编辑角色权限','https://www.baidu.com')">编辑角色权限</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center',title:'主题'">
        <div id="container" class="easyui-tabs"></div>
    </div>
<script>
    function addTab(title, url){
        if ($('#container').tabs('exists', title)){
            $('#container').tabs('select', title);
        }else{
            let content = '<iframe scrolling="no" frameborder="0" src="' + url + '" style="width: 100%; height: 81vh;"></iframe>';
            $('#container').tabs('add', {
                title: title,
                iconCls: 'icon-add',
                content: content,
                closable: true
            });
        }
    }
</script>
</body>
</html>